html {
    height:100%;
    min-height:100%;
}

body {
    min-height:100%;
}

text-center{
    text-align: center;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.field-require{
    color: red;
}
fieldset.scheduler-border{
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border{
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}


.promotion_icon {
    position: absolute;
    width: 70px;
    height: 70px;
/*    background: url(../Images/ImageHost/Promotion.png){
        background-image: url(../Images/ImageHost/Promotion.png);
        background-position-x: initial;
        background-position-y: initial;
        background-size: cover;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        background-size: cover;}*/
    left: 0px;
    top: 0px;
}