/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2017, 9:31:04 AM
    Author     : hell_lock
*/
.footer{
    background-color: #183544;
    color: whitesmoke;
}
footer a{
    color:white;
}
footer .contact{
    font-weight: bold;
    padding-bottom: 10px;   
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  min-height: 100%;
}
/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}