html {
    height:100%;
    min-height:100%;
}

body {
    min-height:100%;
}

text-center{
    text-align: center;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.color-error{
    color: red;
}