.main_menu_bg
{
    position: relative;
	float:left;
	height:56px;    
    z-index: 50;
    margin-top: 0px;
}
.main_menu_item{
	position:absolute;
	z-index:9955;
	position:relative;
	float:left !important;	
	/*cursor:pointer;	*/	
}
.main_menu_item_link{
	position:absolute;
	z-index:65;
	position:relative;
	float:left !important;
	text-transform: uppercase;
    height: 56px;
	padding:0 18px;
	padding-top:18px;	
	color:#fff;
	font-size:16px;
    line-height: 18px;
	font-family: 'Myriad Set Pro';
    font-weight: 500;
	color:#fff;
    text-transform: capitalize;
	text-Shadow: 0 0 1px rgba(255,255,255,0.8);
}
.main_menu_item_link:hover
{
    color: #111;
    text-shadow: none;
}
.main_menu_item_link span {
    position: absolute;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 12px;    
    color: #b61014;
    text-shadow: none;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.main_menu_item:first-child .main_menu_item_link{
    padding-left: 0;
}
.main_menu_item_link span.laptop_item
{
    background: url(../Images/Menu/laptop_item.png) no-repeat center -196px;	
}
.main_menu_item_link span.mobile_item
{
    background: url(../Images/Menu/mobile_item.png) no-repeat center -196px;	
}
.main_menu_item_link span.tablet_item
{
    background: url(../Images/Menu/tablet_item.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00000
{
    background: url(../Images/Menu/Z00000.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00001
{
    background: url(../Images/Menu/Z00001.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00002
{
    background: url(../Images/Menu/Z00002.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00003
{
    background: url(../Images/Menu/Z00003.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00004
{
    background: url(../Images/Menu/Z00004.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00005
{
    background: url(../Images/Menu/Z00005.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00006
{
    background: url(../Images/Menu/Z00006.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00007
{
    background: url(../Images/Menu/Z00007.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00008
{
    background: url(../Images/Menu/Z00008.png) no-repeat center -196px;	
}
.main_menu_item_link span.Z00009
{
    background: url(../Images/Menu/Z00009.png) no-repeat center -196px;	
}
.main_menu_item_link:hover span, .main_menu_item.active .main_menu_item_link span
{
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,0.8);
    text-align: center;
    padding:0 24px;
	padding-top:35px;
}
.main_menu_item:first-child .main_menu_item_link span{
    padding: 0;
    /*padding-top:18px;*/
}
.main_menu_item:first-child .main_menu_item_link:hover span, .main_menu_item.active:first-child .main_menu_item_link span{
    padding: 0;
    padding-top:35px;
}
.main_menu_item_link:hover span.laptop_item, .main_menu_item.active .main_menu_item_link span.laptop_item
{
    background: #111 url(../Images/Menu/laptop_item.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.mobile_item, .main_menu_item.active .main_menu_item_link span.mobile_item
{
    background: #111 url(../Images/Menu/mobile_item.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.tablet_item, .main_menu_item.active .main_menu_item_link span.tablet_item
{
    background: #111 url(../Images/Menu/tablet_item.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00000, .main_menu_item.active .main_menu_item_link span.Z00000
{
    background: #111 url(../Images/Menu/Z00000.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00001, .main_menu_item.active .main_menu_item_link span.Z00001
{
    background: #111 url(../Images/Menu/Z00001.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00002, .main_menu_item.active .main_menu_item_link span.Z00002
{
    background: #111 url(../Images/Menu/Z00002.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00003, .main_menu_item.active .main_menu_item_link span.Z00003
{
    background: #111 url(../Images/Menu/Z00003.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00004, .main_menu_item.active .main_menu_item_link span.Z00004
{
    background: #111 url(../Images/Menu/Z00004.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00005, .main_menu_item.active .main_menu_item_link span.Z00005
{
    background: #111 url(../Images/Menu/Z00005.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00006, .main_menu_item.active .main_menu_item_link span.Z00006
{
    background: #111 url(../Images/Menu/Z00006.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00007, .main_menu_item.active .main_menu_item_link span.Z00007
{
    background: #111 url(../Images/Menu/Z00007.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00008, .main_menu_item.active .main_menu_item_link span.Z00008
{
    background: #111 url(../Images/Menu/Z00008.png) no-repeat center 6px;	
}
.main_menu_item_link:hover span.Z00009, .main_menu_item.active .main_menu_item_link span.Z00009
{
    background: #111 url(../Images/Menu/Z00009.png) no-repeat center 6px;	
}
.sub_menu_bg{
	position:absolute;
    display: none;
    background: #111;	
	z-index:99;
	top:56px;
	left:0px;	
	overflow:hidden; 
	padding: 0 5px;
    border-bottom: 3px solid #b61014;    
	/*-moz-box-shadow: 0px 0px 5px #666;
    -webkit-box-shadow: 0px 0px 5px #666;
    box-shadow: 0px 0px 5px #666;
    margin-left:158px;
	padding-bottom:20px;
	background:#EEE url(../Images/sub_menu_bg.png) repeat-x;*/  
}
.sub_menu_bg a
{
    float:left;
	width:100%;
    text-align: left;
    color: #fff;
    font-family: 'Myriad Set Pro';          
}
.sub_menu_col{
	left:0px;
	float:left;
	width:225px;	
	padding:18px 15px 14px 15px;	
}
.sub_menu_col_title{
	font-size:17px;
    text-transform: uppercase;
    font-family: "myriad_proregular" !important;
    text-Shadow: 0 0 1px rgba(255,255,255,0.8);
    padding-bottom: 3px;
    border-bottom: 2px solid #b61014;
    margin-bottom: 9px;
}
.sub_menu_col_title:hover
{
	border-bottom: 2px solid #fff;
	text-Shadow: 0 0 5px rgba(255,255,255,1);
} 
.sub_menu_col_item
{
    font-size: 14px;
    line-height:26px;
    border-bottom: 1px dotted #111;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    color: #eee !important;
}
.sub_menu_col_item:hover span
{
    color: #fff;
    border-bottom: 1px dotted #fff; 
    text-Shadow: 0 0 3px rgba(255,255,255,0.3);
}