/*==========================================Home Page======================================================*/
/*.slide_bg{
	position:relative;    
}*/
.home_news_bg {
    float: left;
    /*padding-left: 1px;*/  
}
.home_news_item
{
    position: relative;
    float: left;        
    /*width: 100%;*/   
    overflow: hidden;
    padding: 2px 1px 0 1px;  
}
/*.home_news_item:first-child
{
    margin-left: 0 !important;
}
.home_news_item:last-child
{
    margin-right: 0 !important;
}*/
.home_news_img {
    position: relative;
    float: left;        
    /*width: 100%;*/   
    overflow: hidden; 
}
.home_news_img:hover img
{    
    -moz-transform: scale(1.08) rotate(-2deg);
    -ms-transform: scale(1.08) rotate(-2deg);
    -o-transform: scale(1.08) rotate(-2deg);
    -webkit-transform: scale(1.08) rotate(-2deg);
    transform: scale(1.08) rotate(-2deg);
}
.home_news_img img
{
    width: 100%;
    height: auto;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;   
}
.home_news_title {
    /*position: absolute;
    bottom: 0;*/
    position: relative;
    float: left;
    width: 100%;    
    padding: 10px 9px 10px 12px;
    /*text-transform: uppercase;*/
    font-family: 'Myriad Set Pro';
    font-size: 14px;
	color:#fff;
	text-Shadow: 0 0 1px rgba(255,255,255,0.8);
	/*-webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;*/
}
.home_news_title span {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 16px;
    background:url(../Images/Bullets/news_01.png) no-repeat center;
    /*-webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;*/
    
}
.home_news_title .date 
{
    display: none;
}   
/*.home_news_title:hover
{
    padding-left: 21px;
}
.home_news_title:hover span
{
    right: 11px;
}*/
/*.home_news_item:nth-child(odd) .home_news_title 
{
    background: #59B200;
    /*background: rgba(89,178,0,0.90);!1!
}
.home_news_item:nth-child(even) .home_news_title
{
    background: #DF9C00;
    /*background: rgba(223,156,0,0.90);!1!
}*/
.home_news_item:nth-child(1n) .home_news_title 
{
    background: #59B200;
}
.home_news_item:nth-child(2n) .home_news_title
{
    background: #2175B5;
    /*background: rgba(223,156,0,0.90);*/
}
.home_news_item:nth-child(3n) .home_news_title
{
    background: #DF9C00;
}
.home_title 
{
    position: relative;
    float: left;
    margin-top: 28px;
}
.page_title {
    position: relative;
    float: left;
    margin-top: 48px;
    margin-bottom: 8px;
}
.new_product_title 
{
    position: absolute;
    z-index: 2;
    position: relative;
    float: left;
    font-size: 20px;
    font-family: 'Myriad Set Pro';
    color: #333333;
	text-Shadow: 0 0 1px rgba(88,80,80,0.2);
    padding-bottom: 5px;
    border-bottom: 3px solid #B61014;
    text-transform: uppercase;
}
.new_product_title_line {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: #eee;
    bottom: 0;
}
.home_product_bg {
    background: #fff;
    margin-top: 26px;
}
.page_product_bg {
    background: #fff;
    margin-top: 16px;
}
.page_content {
    margin-top: 16px;
}
/*==========================================About Page======================================================*/
.about_info_bg {
    float:left;
	padding-top:28px;
    padding-left:22px; 
    line-height: 22px;
}
.about_info_bg iframe {
    max-width: 100%;
}
.about_info_bg img
{
    width: 100%;
    height: auto;
}
.split_bar_news_top{
	float:left;
	width:100%;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom:8px;
}
.left_menu_bg{
	float: left;
    width: 100%;
    margin-top: 28px;   
    /*margin-bottom: 30px;*/
}
.left_menu_item{
    float: left;
    width: 96%;
    color: #555;
    text-Shadow: 0 0 1px rgba(88,80,80,0.1);
    padding-top: 9px;
    padding-bottom: 10px;
    font-size:14px;
    font-family: "myriad_proregular" !important; 
	text-transform:uppercase;
    border-bottom: 1px solid #EEE;
    /*text-Shadow: 0 0 1px #ddd;*/   
}
.left_menu_item:hover, .left_menu_item.selected{
	color: #b61014;
	text-Shadow: 0 0 1px rgba(182,16,20,0.2);
}
.left_menu_item.first
{
    border-top: 1px solid #EEE;
    padding-top: 12px;
}
.left_menu_item span{
    float: right;
	margin-top:7px;
	margin-right: 10px;
	width:4px;
	height:6px;
    background:url(../Images/Icons/menu_left_icon.png) no-repeat;
}
.left_menu_item:hover span, .left_menu_item.selected span
{
    float: right;
	margin-top:7px;
	margin-right: 10px;
	width:4px;
	height:6px;
    background:url(../Images/Icons/menu_left_icon_hover.png) no-repeat;   
}
/*==========================================News Page======================================================*/
.no_padding_right{
	/*background:rgba(244,232,232,1.00);*/
	/*padding:0 !important;*/
	padding-right: 0px;
    padding-left: 26px;
}
.news_item{
	/*position:relative;*/
    /*float: left;
    width: 100%;*/
	/*background:#111;*/	
	/*border: 1px solid #F2F2F2;*/
	float: left;
	margin-top:1px;
    margin-bottom: 38px;
    padding-left: 0;
}
.news_item:nth-child(2n)
{
    padding-right: 0px;
    padding-left: 20px;
}
/*.news_info{
    padding:0 18px;
}*/
.news_img{
    float: left;  
    overflow: hidden;
}
.news_img:hover img
{    
    -moz-transform: scale(1.08) rotate(-2deg);
    -ms-transform: scale(1.08) rotate(-2deg);
    -o-transform: scale(1.08) rotate(-2deg);
    -webkit-transform: scale(1.08) rotate(-2deg);
    transform: scale(1.08) rotate(-2deg);
}
.news_img img
{
	width: 100%;
    height: auto;
    min-height: auto;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out; 
}
.news_title{
	float:left;
    width: 100%;
	color:#b61014;
	font-size:14px;
    line-height: 24px;
	/*text-transform: uppercase;*/
	padding: 10px 15px 1px 15px;
	/*margin-top:10px;*/
    text-align: center;
    /*background:#111;*/
}
.split_bar_news{
	float:left;
	width:100%;
	/*margin-top:5px;*/
	border-bottom: 1px solid #ddd;
}
.news_title_details{
	position:relative;
	color:#f4811f;
	font-size:16px;
	padding: 6px 0 12px 0;
	text-shadow:0 0 1px rgba(244,129,31,0.3);
    text-transform: uppercase;
    line-height: 22px;
}
.news_content{
	float:left;
	/*text-align:justify;*/
	margin-top:12px;
}
.des_string strong{
    font-weight: normal;
}
/*.news_other_bg {
    
}*/
.news_other_title{
	float:left;
	color:#555;
    /*font-weight: bold;*/
	font-size:16px;
	text-transform: inherit;
    border-bottom: 2px solid #b61014;
	padding: 32px 0 1px 0;	
}
.news_other_item_bg{
	float:left;
	margin-top:10px;
    width: 100%;
}
.news_other_item_bg a
{    
    /*display: inline-block;
    position: relative;*/
    float: left;
	color:#b61014;
    width: 100%;
	font-size:13px;
	padding:0 0 0 14px;
    margin-top: 8px;
	text-transform: inherit;
    /*height: 20px;*/
    
	background:url(../Images/Bullets/bullet-arrow-2.png) no-repeat left 5px;
}
.news_other_item_bg a div 
{
    float: left;
    border-bottom: 1px dotted #fff;
}
.news_other_item_bg a span 
{
    /*display: inline-block;*/
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
.news_other_item_bg a:hover div
{
    border-bottom: 1px dotted #b61014;
}
.hidden_view_01, .hidden_view_02, .hidden_view_03 
{
    color:#b61014;
    display: none !important;
    text-shadow:0 0 1px rgba(244,129,31,0.3);
}
.other_new_readmore_btn {
    float: right;
    /*width: 80px;*/
    background:url(../Images/Icons/readmore_blue.png) no-repeat left 2px;
    padding-left: 18px;
    margin-top: 12px;
    font-size: 13px;
}
.news_carousel .other_new_readmore_btn {
    margin-top: -2px;
}
/*==========================================News Details Page======================================================*/
.news_detail_title {
    font-family: 'Myriad Set Pro';
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
    /*color: #555;*/
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 18px;
}
.page_banner_bg {
    float: left;
    width: 100%;
    margin-bottom: 18px;
    overflow: hidden;
    margin-bottom: 18px;
    text-align: center;
}
.page_banner_bg img, .page_img_bg img {
    height: auto;
}
.page_img_bg {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}
/*.news_item_bg{
	float:left;
	margin-top:10px;
}
.news_item_title{
	font-weight:bold;
	font-size:13px;	
}
.news_item_title:hover{
	background:url(../Images/Bullets/news_item_06.png) no-repeat left;
}
span.news_item_title{
	font-weight:bold;
	font-size:13px;	
	color:#FFF;
}
span.news_item_title:hover{
	text-decoration:none;
}
.news_item_content_bg{
	position:relative;
	margin-top:10px;
}
.news_item_content_img_border{
	width:260px;
	height:150px;
	float:left;
	-moz-box-shadow: 0px 0px 8px #666666;
    -webkit-box-shadow: 0px 0px 8px #666666;
    box-shadow: 0px 0px 8px #666666;
	padding:5px;
	margin-top:2px;
	margin-right:14px;
	margin-bottom:2px;
}
.news_item_content_img_border img{
	width:260px;
	height:150px;
}
.news_item_bottom_hr{
	float:left;
	height:2px;
	width:720px;
	background:url(../Images/news_item_bottom_hr.png) no-repeat center top;
	margin-top:15px;
	margin-bottom:5px;
}*/
/*.other_news_title{
	float:left;
	font-size:14px;
	width:766px;
	text-transform:uppercase;
	background:url(../Images/other_news_title.png) no-repeat left bottom;
	margin-top:30px;
	font-weight:bold;
}
.other_news_bg{
	float:left;
	width:720px;
	margin-top:12px;
	line-height:28px;
}
.other_news_bg a{
	padding-left:10px;
	margin-left:10px;
	background:url(../Images/Bullets/news_item_04.png) no-repeat left;
	color:#fff;
}
.other_news_bg a:hover{
	text-decoration:underline;
}
.other_news_bg span{
	color:#999;
}
.news_more_link{
	float:left;
	margin-top:20px;
}
.news_more_link a{
	background:url(../Images/Bullets/news_item_03.png) no-repeat left center;
	padding-left:18px;
	font-weight:bold;
}*/
/*==========================================Portfolio======================================================*/
/*.portfolio_row{
	float:left;
	width:690px;
}*/
.portfolio_item_bg{
	float:left;
	width:225px;
	padding-bottom:30px;
	margin-left:20px;
}
.portfolio_item_bg.col_01{
	float:left;
	margin-left:0px !important;
}
.portfolio_item_img_bg{
	float:left;
	width:215px;
	height:140px;		
	background:#fff;
	-moz-box-shadow: 0px 0px 8px #666666;
    -webkit-box-shadow: 0px 0px 8px #666666;
    box-shadow: 0px 0px 8px #666666;
	padding:5px;	
}
.portfolio_item_img_bg a{
	position:absolute;
	width:215px;
	height:140px;
	overflow:hidden;
	cursor:pointer;
}
.portfolio_item_img_bg img{
	position:absolute;
	width:215px;
	height:140px;
}
.portfolio_item_img_bg div{
	position:absolute;	
	display:none;
	width:225px;
	height:140px;
	background:url(../Images/img_hover.png) no-repeat center;
	z-index:100;
}
.portfolio_item_name{
	float:left;
	width:225px;
	font-size:13px;
	font-weight:bold;
	margin-top:8px;
}
.portfolio_item_name:hover{
	background:url(../Images/Bullets/news_item_06.png) no-repeat left;
}
.portfolio_item_info{
	float:left;
	width:225px;
	margin-top:3px;
}
.portfolio_item_more_info{
	float:left;
	width:225px;
	margin-left:0px;
	margin-top:0px;
	height:auto;
	display:none;
	overflow:hidden;
}
.portfolio_item_readmore_btn{
	float:left;
	width:215px;
	height:24px;
	margin-left:0px;
	margin-top:12px;
	background:url(../Images/readmore_btn.png) no-repeat 0px 0px;	
	padding-top:6px;
	padding-left:10px;
	font-weight:bold;
	font-size:11px;
}
.portfolio_item_readmore_btn:hover{
	color:#333333;
	background-position:0px -30px;
}
.portfolio_item_readmore_btn.close{
	background:url(../Images/readmore_btn.png) no-repeat 0px -60px;
}
.portfolio_item_readmore_btn.close:hover{
	color:#333333;
	background-position:0px -90px;
}
/*.portfolio_item_readmore_btn{
	float:right;
	background:url(../Images/Bullets/bullet-arrow-2.png) no-repeat left center;
	padding-left:10px;
	text-align:right;
	margin-top:10px;
}
.portfolio_item_readmore_btn:hover{
	text-decoration:underline;	
}*/
/*==========================================Page Navigation======================================================*/
/*.page_navigation_bg{
	float:right;
	width:auto;
	height:30px;
	margin-top:20px;
}
.page_navigation_bg a{
	float:left;
	width:28px;
	height:26px;
	background:url(../Images/page_navigation.png) no-repeat;
	margin-left:5px;	
	color:#fff;
	font-size:13px;
}
.page_navigation_bg .first{
	background-position:0px 0px;
}
.page_navigation_bg .prev{
	background-position:-27px 0px;
}
.page_navigation_bg .num{
	text-align:center;
	height:22px;
	padding-top:4px;	
	background-position:-55px 0px;
}
.page_navigation_bg .next{
	background-position:-82px 0px;
}
.page_navigation_bg .last{
	background-position:-109px 0px;
}
.page_navigation_bg .first:hover{
	background-position:0px -26px;
}
.page_navigation_bg .prev:hover{
	background-position:-27px -26px;
}
.page_navigation_bg .num:hover{
	text-decoration:none;
	color:#FFFFFF;
	background-position:-55px -26px;
}
.page_navigation_bg .next:hover{
	background-position:-82px -26px;
}
.page_navigation_bg .last:hover{
	background-position:-109px -26px;
}
.page_navigation_bg .current{
	color:#FFFFFF;
	background-position:-55px -26px;
	font-weight:bold;
	/*text-decoration:underline;!1!
}*/