/*==========================================Product Page======================================================*/
.ad_banner {
    float: left;
    width: 100%;
    margin: 20px 0 -25px 0;
}
.page_navigation_select_bg span
{
    float: right;
    margin-top: 6px;
    margin-right: 5px;
}
.product_item 
{
    float: left;
    height: 268px;
    background: #fff;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    text-align: center;
    overflow: hidden;
}
.promotion_icon {
    position: absolute;
    width: 65px;
    height: 18px;
    background: url(../Images/Promotion.png) no-repeat;
    background-size: cover;
    left: 0;
    top: 10px;
}
.product_img {
    float: left;
    width: 100%;
    height: 142px;
    /*margin:0 2%;*/
    overflow: hidden;
    margin: 12px 0 0 0;
}
.product_img img
{
    height:auto; 
    width:auto;
    max-width: 100%;
    max-height: 100%;   
    /*border:1px solid #878787;*/
}
.product_name 
{
    float: left;
    width: 94%;
    margin-left: 3%;
    margin-top: 16px;
    font-size: 13px;
    color: #333;
    text-transform: none;
    font-weight: 700;
    font-family: 'Myriad Set Pro';
	text-Shadow: 0 0 1px rgba(51,51,51,0.1);
    height: 52px;
    word-wrap: break-word;
    line-height: 17px;
    overflow: hidden;
}
.product_name:hover
{
    color: #333;
    text-Shadow: 0 0 1px rgba(51,51,51,0.1);
}
.product_id 
{
    float: left;
    width: 100%;
    color: #878787;
    font-size: 12px;
    font-family: 'Myriad Set Pro';
    line-height: 18px;
}
.product_price
{
    float: left;
    width: 100%;
    color: #b61014;
    font-size: 15px;
    font-weight: 700;
}
.product_price span
{
    color: #555; 
}
.product_hover_bg {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 168px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.product_item:hover .product_hover_bg
{
    left: 0;
    opacity: 1;
}
.product_hover_bg .product_name 
{
    /*color: #fff;*/
    margin-top: 10px;
    height: 54px;
}
.product_hover_bg .product_name:hover {
    color: #333;
    text-shadow: none;
}
.product_hover_bg .product_id:hover {
    color: #878787;
    text-shadow: none;
}
.product_hover_bg .product_price:hover {
    color: #b61014;
    text-shadow: none;
}
.product_info {
    float: left;
    /*width: 84%;
    margin-left: 6%;
    margin-top: 8px;*/
    margin: 8px 12px;
    font-size: 12px;
    height: 118px;
    overflow: hidden;
    color: #eee;
    text-align: left;
    font-family: 'Myriad Set Pro';
    font-size: 13px;
    line-height: 17px;    
}
.product_info:hover
{
    color: #eee;
    text-shadow: none;
}
.product_info ul li
{
    float: left;
    width: 100%;
    /*margin-top: 4px;*/
}
.product_info ul li span
{
    color: #fff;
    text-Shadow: 0 0 1px rgba(51,51,51,0.2);
}
.product_hover_btn_bg {
    position: absolute;
    height: 25px;
    bottom: 10px;
    width: 100%;
    /*margin-left: 8%;*/
    padding:0 12px;
}
.product_hover_btn_bg a
{
    text-align: center;
    padding-top: 3px;
    height: 25px;
    color: #fff;
    width: 46%;
    text-Shadow: 0 0 1px rgba(255,255,255,0.6);
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.product_add_btn 
{
    float: left;
    background: #b61014;
}
.product_add_btn.center
{
    width: 100%;
}
.product_add_btn:hover {
    color: #fff;
    background: #D42E32;
    text-Shadow: 0 0 1px rgba(255,255,255,0.6), 0 0 5px rgba(255,255,255,0.6);
}
.product_compare_btn {
    float: right;
    background: #DF9C00;
}
.product_compare_btn:hover {
    color: #fff;
    background: #F3B014;
    text-Shadow: 0 0 1px rgba(255,255,255,0.6), 0 0 5px rgba(255,255,255,0.6);
}
.product_title {
    float: left;
    text-Shadow: 0 0 1px rgba(88,80,80,0.5);
}
/*.product_group_menu 
{
    position: relative;
    float: left;
    margin-left: 26px;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(182,16,20,0.38);
    padding-right: 15px;
    background:url(../Images/Bullets/bullet-arrow-small.png) no-repeat right;
}*/
.product_group_menu 
{
    position: relative;
    float: left;
    height: 100%;
    /*font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(182,16,20,0.38);*/
    padding-right: 15px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 11px 12px 0 14px;
    margin: 0 10px;
    cursor: pointer;
    background: #FDFDFD;
    /*background:url(../Images/Bullets/bullet-arrow-small.png) no-repeat right;*/
}
.product_group_menu.search_return
{
    padding: 0 12px 0 14px;
    
}
.dropdown_arrow {
    float: right;
    width: 12px;
    height: 5px;
    margin: 7px 0 0 16px;
    background:url(../Images/Icons/search_filter_button.png) no-repeat 0 -5px;
}
.product_group_menu:hover .dropdown_arrow
{
    background-position: 0 0;
}
.all_title {
    display: none;
}
.product_group_menu.no_sub {
    text-Shadow: 0 0 1px rgba(0,0,0,0.38);
    background: none;
    padding-right: 0;
    border: none;
    padding-left: 0;
}
.product_group_sub_menu_bg {
    position: absolute;
    width: 100%;
    min-width: 250px;
    background: #111;
    z-index:99;
	margin:11px 0 0 -1px;
	left:0px;	
	overflow:hidden; 
	padding: 10px 16px 10px 18px;
	border-top: 3px solid #b61014;
    border-bottom: 3px solid #b61014;
    text-transform: none;
    display: none;
}
.product_group_sub_menu_bg a
{
    float:left;
	width:100%;    
    text-align: left;
    color: #fff;
    font-family: 'Myriad Set Pro';          
    font-size: 14px;
    margin: 3px 0 6px 0;
    border-bottom: 1px dotted #111;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.product_group_sub_menu_bg span {
    float: right;
    color: #aaa;
    font-size: 14px;
    text-Shadow: 0 0 1px #aaa;  
}
.product_group_sub_menu_bg a:hover
{
    border-bottom: 1px dotted #fff; 
    text-Shadow: 0 0 3px rgba(255,255,255,0.6);
}
.product_group_sub_menu_bg a:hover span
{
    color: #fff;
}
.next_page 
{
    float: left;
    width: 100%;
    height: 38px;
    margin-top: 16px;      
    background: #111;
    /*background-color: #B61014;
	-webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
    text-align: center;    
    color: #fff;
    font-size: 13px;
    /*font-weight: bold;*/
}
.next_page div
{
    position: relative;
    height: 20px;
    width: 226px;
    margin: 0 auto;
    margin-top: 10px;
}
.next_page span
{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-top: -1px;
    background: url(../Images/Icons/product_load.png) no-repeat;
}
.next_page:hover{
    color: #fff;
    text-decoration: none;
    background: #b61014;
}
.next_page:hover span{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {  transform:rotate(0deg); }
    to {  transform:rotate(360deg);  }
}
/*==========================================Search Page======================================================*/
.search_auto_item {
    float: left;
    width: 100%;
    height: 49px;
    overflow: hidden;    
    margin: 0 auto !important;
    padding: 0 !important;
}
.search_auto_item:hover
{
    border: none;
    background: #111;
}
.search_auto_item a
{
    float: left;
    width: 100%;
    height: 49px;    
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px dotted #333;
}
.search_auto_item .search_image_bg {
    float: left;
    width: 49px;
    height: 49px;
    padding: 0;
    background: #fff url(../uploads/HinhLogo.jpg) no-repeat;
    background-size: contain;
    border: 1px solid #fff;
    margin-right: 2px;
    /*text-align: center;
    display: flex;
    align-items: center;*/
}
.search_auto_item:hover .search_image_bg
{
    border: none;
    border: 1px solid #111;
}
.search_auto_item .search_image_bg img
{
    padding: 3px;
    height:auto; 
    width:auto;
    max-width: 100%;
    max-height: 100%;
}
.search_auto_item .search_product_name_bg {
    /*float: left;*/
    height: 48px;    
    overflow: auto;
    font-size: 12px;
}
.search_auto_item .search_product_name {
    float: left;
    width: 100%;
    height: 16px;
    color: #555;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 8px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-shadow: none;
}
.search_auto_item:hover .search_product_name
{
    color: #fff;
}
.search_auto_item .search_product_price {
    float: left;
    width: 100%;
    padding: 0 8px;
    margin-top: 2px;
    font-weight: bold;
    color: #b61014;
}
.no_transform {
    text-transform: none;
}
.search_return_count {
    display: inline;
    text-transform: none;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(51,51,51,0.3);
}
.skey 
{
    display: inline;
    /*margin-left: 6px;*/
    text-transform: none;
    color: #b61014;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.group_02_title,  .group_02_title:hover{
    color: #333;
    text-Shadow: 0 0 1px rgba(51,51,51,0.1);
}
.group_02_name {
    display: none;
}
.group_02_name span
{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 6px;
    color: #b61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.group_02_title .group_02_name {
    display: inline-block;
}
.total_search_count {
    display: none;
}
.search_by_bg{
    float: right;        
    text-transform: none;
    font-size: 13px;        
    padding-right: 15px;
    background: url(../Images/Bullets/bullet-arrow-small.png) no-repeat right;
    cursor: pointer;
}
.search_by_title {
    text-align: right;
    /*width: 138px;*/
    font-weight: bold;
    color: #333;
    text-Shadow: 0 0 1px rgba(51,51,51,0.1);
}
.search_by_title:hover 
{
    color: #333;
    text-Shadow: 0 0 1px rgba(51,51,51,0.1); 
}
.search_by_title span
{
    color: #b61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.18);
}
.search_by_item_bg {
    position: absolute;
    max-width: 250px;
    /*height: 68px;*/
    background: #fff;
    z-index:99;
	margin-top:5px;
	right:0px;	
	overflow:hidden; 
	/*padding: 10px 16px 10px 18px;*/
	border: 2px solid #b61014;
    /*border-bottom: 3px solid #b61014;*/
    display: none;
}
.search_by 
{
    float: right;
    width: 100%;    
    height: 32px;
    line-height: 32px;
    padding:0 15px;
    border-bottom: 1px dotted #b61014;  
}
.search_by_item_bg .search_by:last-child
{
    border-bottom: none;
}
.search_by:hover
{
    background: #111;
    color: #fff;
}
.search_by span
{
    float: right;
    font-size: 12px;
}
.product_mes 
{
    float: left;
    width: 100%;
    height: 64px;
    background: url(../Images/Icons/not_found.png) no-repeat;
    padding:10px 0 0 78px;
    font-size: 18px;
    color: #B61014;
    margin:50px 0 50px 30px;
}
.product_mes span
{
    float: left;
    width: 100%;
    margin-top: 6px;
    font-size: 15px;
    color: #555;
}
/*==========================================Product Details Page======================================================*/
.product_gallery_bg {
    float: left;
    /*width: 368px;*/
    height: 350px;
    margin-top: 20px;
    /*background: #aaaaaa;*/
}
.product_detail_img {
    position: relative;
    /*width: 368px;*/
    width: 100%;
    height: 280px;
    /*border: 1px dotted #ddd;
    border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
    text-align: center;
    display: flex;
    align-items: center;
    /*display: table-cell;    
    overflow: hidden;*/
}
.product_detail_img img 
{
    height:auto; 
    width:auto;
    max-width: 100%;
    max-height: 100%;
    /*margin: 10px;*/    
}
.product_detail_gallery {
    position: relative;
    text-align: center;
    margin-top: 18px;    
    /*background: #999999;*/
}
.product_detail_gallery a
{
    display: inline-block;
    width: 46px;
    height: 36px;
    border: 1px solid #eee;
    margin: 0 1px;  
}
.product_detail_gallery a.selected
{
    border: 1px solid #ccc;
}
.product_detail_gallery a img
{
    height:auto; 
    width:auto;
    max-width: 100%;
    max-height: 100%;
}
.product_detail_info_bg {
    float: right;
    margin-top: 22px;    
}
.product_detail_title {
    font-family: 'Myriad Set Pro';
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
    font-size: 22px;
    line-height: 26px;
}
.product_detail_ID {
    font-size: 13px;
}
.product_detail_price {
    font-size: 18px;
    font-family: 'Myriad Set Pro';
    margin-top: 15px;
    text-Shadow: 0 0 1px #bbb;
}
.product_detail_price span
{
    color:#B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.product_add_detail_btn {
    float: left;
    width: 120px;
    height: 32px;
    background: url(../Images/product_add_detail_btn.png) no-repeat 0 0;
    margin-top: 22px;
}
.product_add_btn.product_add_detail_btn:hover 
{
    background: url(../Images/product_add_detail_btn.png) no-repeat 0 -32px;
}
.product_add_btn.product_add_detail_btn:active 
{
    background: url(../Images/product_add_detail_btn.png) no-repeat 0 -64px;
}
.shopping_support_link {
    float: left;
    margin: 28px 0 0 26px;
    background: url(../Images/Icons/shopping.png) no-repeat 0 0;
    padding:2px 0 0 25px;
    color: #666;
}
.shopping_support_link:hover
{
    color: #666;
    text-decoration: underline; 
    text-Shadow:none;  
}
.product_detail_info_title 
{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    text-Shadow: 0 0 1px #ddd;
    font-family: 'Myriad Set Pro';
}
.product_detail_info 
{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;  
}
.product_detail_warranty 
{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 12px;
    text-Shadow: 0 0 1px #ddd;
    font-family: 'Myriad Set Pro';
}
.promotion_bg 
{
    float: left;
    width: 95%;
    border: 1px dashed #B61013;
    /*border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
    margin-top: 15px;
    padding: 12px 2%;
    color: #B61013;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(182,16,20,0.1);
    font-family: 'Myriad Set Pro';    
}
.product_detail_bg {
    float: left;
    width: 100%;
    margin: 26px 0 36px 0;
}
.product_detail_bar 
{
    position: relative;
    float: left;
    width: 100%;
    height: 48px;    
    /*border-top: 1px solid #E6E6E6;*/
    /*display: table;
    table-layout: fixed;*/
    /*background:url(../Images/btn_bg.png) repeat-x 0 0;*/
    z-index: 10;
    top: 0;
    background: #111;
    margin: 18px 0 36px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product_bar_item 
{
    float: left;
    /*width: 200px;*/
    height: 48px;    
    /*display: table-cell;*/
    font-family: "myriad_proregular" !important;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    text-align: left;
    padding: 15px 25px 0 25px;    
    /*font-family: 'Myriad Set Pro'; */
    /*border-bottom: 1px solid #E6E6E6;*/
    border-right: 1px solid rgba(255,255,255,0.3);
    text-Shadow: 0 0 1px rgba(255,255,255,1);
}
.product_bar_item:hover {
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,1), 0 0 5px rgba(255,255,255,0.5);
}
.product_bar_item.selected, .no_touch.product_bar_item:hover  {
    background: #b61014;
    /*background: url(../Images/product_detail_menu.png) right center;*/
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,1), 0 0 5px rgba(255,255,255,0.5);
}
.product_bar_item:last-child
{
    border-right: none;
}
.product_detail_content {
    float: left;    
}
.product_content_item {
    float: left;
    width: 100%;
    margin: 0 0 28px 0;
    /*margin-bottom: 28px;*/
}
.product_content_title 
{
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 3px solid #DDD;
    font-size: 22px;
    text-transform: uppercase;      
    font-family: "myriad_proregular" !important;
    color: #CB1216; 
    padding-bottom: 5px; 
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.product_content_title .title {
    float: left;
    margin-top: 9px;
}
.product_content_title span {
    color: #bbb;
}
.product_details_info_bg {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 18px;
    padding-top: 36px; 
}
.product_360
{
    float: left;
    width: 100%;
    height: 480px;
    cursor: move !important;  
}
/*.video_bg{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video_bg iframe,
.video_bg object,
.video_bg embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
.video_bg
{
    position: relative;    
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background: #930d10;
}
.article table 
{
   /* width: 100%;*/
    margin-top: 18px;
    margin-bottom: 16px;
}
/*.article img {
    width: 100% !important;
    height: auto !important;
}*/
.product_more_title {    
    color:#B61013;
    float: left;
    width: 100%;
    margin-top: 25px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #B61013;
}
.product_more_title a {
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
    padding-bottom: 2px;
}
.product_more_title span {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    font-size: 14px;
}
.product_more_title a:hover, .product_more_title .selected
{
    background: #B61013;
    color: #fff;
}
.product_same_btn_bg, .product_viewed_btn_bg
{
    position: absolute;
    z-index: 8;
    position: relative;
    float: left;
    width: 52px;
    height: 26px;
    margin-left: 12px;
    margin-top: 6px;
}
.product_same_btn_bg a, .product_viewed_btn_bg a
{
    width: 26px;
    height: 26px;
    background: url(../Images/arrows.png) no-repeat;
    -webkit-transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
    transition:all 0.35s ease-in-out; 
}
.featured_carousel_prev
{
    float: left;
    background-position: 0 0;
}
.featured_carousel_next
{
    float: right;
    background-position: -26px -26px !important;
}
.featured_carousel_prev:hover{
    background-position: -26px 0;
}
.featured_carousel_next:hover {
    background-position: 0 -26px !important;
}
.product_same_bg, .product_viewed_bg {
    float: left;
    /*width: 750px;*/
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    background: #f9f9f9;
    /*border: 1px dotted #ddd;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
}
.carousel_bg {
    position: relative;
    padding: 10px;
    /*width: 690px !important;*/
    overflow: hidden !important;
}
.carousel 
{
    float: left;
    overflow: hidden !important;
}
/*.product_viewed_bg {
    visibility: hidden;
}*/
.product_same_item_bg {
    float: left;
    width: 214px;
    /*height: 100%;*/
    /*border: 1px dotted #bbb;
    border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;*/
    background: #fff;
    margin: 5px;
    text-align: center;
    overflow: hidden;
}
/*.product_same_item_bg .acces
{
    
}*/
.product_same_item_img {
    float: left;
    width: 194px;
    height: 126px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    /*background: #999999;*/
}
.product_same_item_img img {
    height:auto; 
    width:auto;
    max-width: 100%;
    max-height: 100%;
}
.product_same_item_name {
    float: left;
    width: 194px;
    /*height: 52px;*/
    font-size: 13px;
    line-height: 18px;
    margin-left: 10px;
    margin-top: 8px;
    color: #444;
    overflow: hidden;
    display: block;
    /*background: #999999;*/
}
.product_same_item_compare, .compare_btn {
    float: left;
    width: 120px;
    height: 28px;
    margin-left: 47px;
    margin-bottom: 12px;
    /*background: url(../Images/customer_compare_btn.png) no-repeat 0 0;*/
    text-align: center;
    /*font-weight: bold;*/
    line-height: 28px;
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,0.6);
    background: #B61013;
}
.product_same_item_compare:hover, .compare_btn:hover 
{
    /*background-position: 0 -28px;*/
    background: #CA2427;
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,1);
}
.product_same_item_compare:active, .compare_btn:active 
{
    /*background-position: 0 -56px;*/
    background: #930D10;
    color: #fff;
    text-Shadow: 0 0 1px rgba(255,255,255,1);
}
.compare_btn_bg 
{
    float: left;
    margin-top: -138px;
    width: 100%;
    height: 140px;
    display: none;
    /*background: rgba(0, 0, 0, 0.8);*/
}
.compare_btn 
{
    margin-top: 60px;
    width: 100px;
    height: 28px;
    margin-left: 57px;
    outline: 22px solid rgba(0, 0, 0, 0.8);
}
.product_same_price 
{
    float: left;
    width: 194px;
    margin-left: 10px;
    text-align: center;
    color: #B61013;
    /*font-weight: bold;*/
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(182,16,20,0.2);
}
.product_add_btn.product_same {
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}
/*.bgChiTiet {
    background: #000;    
    padding: 3px;
    width: 380px;
    -moz-box-shadow: 0px 0px 8px #666;
    -webkit-box-shadow: 0px 0px 8px #666;
    box-shadow: 0px 0px 8px #666;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.chitietH {
    background: #B61014;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #fff;    
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 2px;
    width: 375px;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.chitietH.chitietH_02 {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    background: none;
    /*border: 1px dotted #fff;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;!1!
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 2px;
    width: 375px;
    display: none;
}
.chitietH.chitietH_03 {
    color: #B61014;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    background: #fff;
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 2px;
    width: 375px;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.chitiet {
    background: #fff;    
    margin-top: 5px;   
    color: #444;  
    border-spacing:0;
    border-collapse:collapse;
    width: 375px;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.chitiet tr:nth-child(odd)
{
    background: #F8F8F8;
}
.chitiet td
{
    vertical-align: top;
    /*border: 1px dotted #e0e0e0;!1!
    border-bottom: 1px dotted #e0e0e0;
    padding: 5px;
    padding-left: 6px;
    padding-bottom: 2px;
}
.tooltip_bg {    
    position:absolute;
    background:none;
    z-index:3000;
    width: 380px;
    display:none;
}
.stickytooltip{
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
}
.tooltip_bg .stickytooltip{
    width: 100%;
    height: 100%;
    display: block;
}*/
.product_details_info_bg {
    border: none !important;   
}
.product_details_info_bg .bgChiTiet {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
	border: 1px dotted #aaa;
    padding: 0;
    margin: 5px;
    position: relative;
    margin: 0 auto;
    background: none;
    width: 100%;
    border: none !important;
}
.product_details_info_bg .chitietH 
{
    /*background: #B61014;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #fff;    
    padding: 5px;
    padding-left: 8px;*/
    /*width: 100%;*/
    /*border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
    display: none;
    border: none !important;
}
.product_details_info_bg .chitietH.chitietH_02 {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    background: none;
    /*border: 1px dotted #fff;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
    padding: 5px;
    padding-left: 8px;
    width: 100%;
    display: none;
}
.product_details_info_bg .chitietH.chitietH_03 {
    color: #B61014;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    background: #fff;
    padding: 5px;
    padding-left: 8px;
    /*border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
	border: none !important;
	/*width: 100%;*/
}
.product_details_info_bg .chitiet 
{
    float: left;
    background: #fff;    
    margin-top: 5px;   
    color: #666;  
    border-spacing:0;
    border-collapse:collapse;
    /*border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;*/
	width: 100%;
    border-bottom: 1px solid #eee;
}
.product_details_info_bg .chitiet tr td
{
    vertical-align: top;
    border-bottom: 1px solid #eee;
    padding: 9px 18px 6px 18px;
    font-size: 14px;
}
.chitiet tr:nth-child(odd)
{
    background: #FCFCFC;
}
.product_details_info_bg .chitiet tr:hover
{
    background: #F8FFFF;
    cursor: pointer;
}
.page_details.product_details_info_bg .chitiet tr td:first-child
{
    width: auto !important;    
    white-space: nowrap;
    /*text-align: left !important;*/
}
.page_details.product_details_info_bg .chitiet tr td:first-child strong
{
    /*font-weight: normal !important;*/
    font-family: "myriad_prosemibold" !important;
    text-transform: uppercase;
}




/*.page_left_panel {
    float: left;
    width: 200px;
    margin-top: 15px;
}
/*.left_menu_border {
    float: left;
    width: 100%;
    margin-top: 15px;
    border: 1px dotted #B61013;
}!1!
.left_control_title 
{
    float: left;
    width: 200px;
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(182,16,20,0.2);
    /*background: #B61013;
    border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 19px;    
    padding-left: 8px;!1!
    border-bottom: 3px solid #333;
    padding-top: 6px;
    padding-bottom: 5px;
	color: #B61013;
}
.left_menu_bg {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.left_menu_page_item {
    float: left;
    width: 186px;
    color: #444;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-left: 14px;
    font-size: 13px;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    background: url(../Images/Bullets/bullet-arrow-2.png) no-repeat 0 10px; 
}
.left_menu_page_item .cufon-canvas 
{
    padding-bottom: 4px;
}
.left_menu_item {
    float: left;
    width: 100%;
    color: #444;
    padding-top: 9px;
    padding-bottom: 6px;
    font-size: 14px;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    text-Shadow: 0 0 1px #ddd;       
}
.left_menu_item span {
    float: right;
    font-style: italic;
    color: #fff !important;
    font-size: 14px;
    text-Shadow: 0 0 1px #fff;  
}
.left_menu_item:hover span
{
    color: #B61013 !important;
    text-Shadow: 0 0 1px rgba(182,16,20,0.1);
    
}
.left_menu_item:hover, .left_menu_item:active, .left_menu_item.selected
{
    border-top: 1px dotted #B61013;
    border-bottom: 1px dotted #B61013;
    color: #B61013;
    text-Shadow: 0 0 1px rgba(182,16,20,0.2);
}
.left_menu_page_item:hover, .left_menu_page_item:active, .left_menu_page_item.selected
{
    color: #B61013;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.left_menu_item.selected span
{
    color: #B61013 !important;
    text-Shadow: 0 0 1px rgba(182,16,20,0.1);
}
.page_right_panel {
    float: right;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
}
.page_navigation_bar 
{
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 12px;  
}
.page_select_bg  
{
    float: left;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.product_show_bg {
    width: 750px;
    float: right;
    margin-bottom: 10px;
}
.product_item_bg {
    float: left;
    width: 240px;
    height: 300px;
    margin-right: 15px;
    margin-top: 15px;
    background:url(../Images/product_item_bg.png) no-repeat;
    overflow: hidden;
    /*border: 1px dotted #ddd;!1!   
}
/*.product_item_bg:nth-child(3n)  
{
    margin-right: 0; 
}
.product_item_bg.float_break 
{
    margin-right: 0; 
}!1!
.product_item_bg > *
{
    float: left;
    width: 216px;
    text-align: center;
    margin: 12px;
}
.promotion_icon {
    position: absolute;
    width: 65px;
    height: 18px;
    background: url(../Images/Promotion.png) no-repeat;
    background-size: cover;
    left: 0;
    top: 10px;
}
.product_name_img {
    float: left;
    width: 216px;
    height: 198px;
    text-align: center;
    margin: 12px;
}
.product_item_name
{
    float: left;
    color: #444;
    font-family: 'Myriad Set Pro';
    text-transform: uppercase;    
    margin-top: -4px;
    font-size: 14px;
    /*height: 52px;!1!
    min-height: 35px;
    max-height: 52px;
    /*height: 45px;!1!
    line-height: 18px;
    text-Shadow: 0 0 1px #ddd;
    width: 216px;
    overflow: hidden;
}
.product_item_name .cufon-canvas {
    padding-bottom: 3px;
}
.product_item_img
{
    float: left;
    margin-top: 0px;
    width: 216px;
    height: 150px;
    overflow: hidden;
    margin-top: 10px;
}
.product_item_img img 
{
    height:auto; 
    width:auto;
    max-width: 100%;
    max-height: 100%;        
}
.product_item_price {
    text-transform: uppercase;
    margin-top: 2px;
    font-family: 'Myriad Set Pro';
    color: #B61013;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
    font-size: 16px;
    margin-bottom: 0px;
}
.product_item_ID{
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 4px;
    text-Shadow: 0 0 1px #bbb;
}
.product_item_ID span{
    font-weight: bold;
    font-family: 'Myriad Set Pro';
}
.product_item_compare {
    color: #444;
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 1px;
    height: 20px;
}
.product_item_compare input 
{
    float: left;
}
.product_item_compare label 
{
    float: left;
    margin-top: 2px;
}
.product_item_btn_bg {
    float: left;
    width: 190px;
    margin-top: 0px;
    margin-left: 25px;
}

.product_like_btn 
{
    float: right;
    width: 90px;
    height: 24px;
    background: url(../Images/product_like_btn.png) no-repeat 0 0;
}
.product_view_btn {
    float: right;
    width: 90px;
    height: 24px;
    background: url(../Images/product_view_btn.png) no-repeat 0 0;
}
.product_item_btn_bg a:hover {
    background-position: 0 -24px;
}
.product_item_btn_bg a:active  {
    background-position: 0 -48px;
}

.search_control_item_title {
    font-size: 13px;
    margin-left: 2px;
    margin-top: 12px;
}
.search_control_item_bg input {
    width: 190px;
	height:20px;
	margin-bottom:6px;
	margin-top:2px;
	background:#fcfcfc;
	padding-left:4px;
    border:1px dotted #B61013;
    color:#B61013;
	outline:none;
}
.search_control_item_bg span{
    position: absolute;
    left: 0px;
    margin-top: 6px;
    margin-left: 6px;
    color: #777;
}
.search_control_price_from, .search_control_price_to {
    text-align: right;
}
.advance_search_btn {
    float: left;
    width: 85px;
    height: 30px;
    margin-top: 15px;
    background:url(../Images/advance_search_btn.png) no-repeat 0 0;
}
.default_btn {
    float: left;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    background:url(../Images/default_btn.png) no-repeat 0 0;
}
.advance_search_btn:hover, .default_btn:hover 
{
    background-position: 0 -30px;   
}
.advance_search_btn:active, .default_btn:active 
{
    background-position: 0 -60px;   
}
.page_content_bg {
    float: right;
    overflow: hidden;
    margin-top: 20px;
}
.page_content_bg img{
    width: 100%;
    height: auto; 
}
.page_content_bg iframe{
    display: block;
    width: 100%;
    /*margin: 0 auto; !1! 
}
.page_banner_bg {
    position: relative;
    overflow: hidden;
    margin-bottom: 18px;
    text-align: center;
}
.page_banner_bg img, .page_img_bg img {
    height: auto;
}
.page_img_bg {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}*/
.page_title_bg {
    background: #fff;
    border: 1px solid #eee;
    height: 42px;
    background: #fff;
    padding: 0 !important;
    margin: 18px 0 0 0;
}
.page_title_item {
    float: left;
    margin: 10px 10px 0 10px;
    font-size: 14px;
    /*color: #555555;*/
}
.page_title_item.active {
    font-weight: bold;
}
.page_title_item:first-child
{
    margin-left: 16px;
}
.page_title_arrow {
    float: left;
    width: 14px;
    height: 14px;
    margin: 12px 0 0 0;
    background:url(../Images/Bullets/title_arrow.png) no-repeat 0 0;
}
.search_filter_button, .search_by_manufacturer_button {
    float: left;
    height: 100%;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 11px 12px 0 14px;
    margin-left: 10px;
    cursor: pointer;    
    color: #b61013; 
    background: #FDFDFD;
}
/*.search_filter_button {
    border-left: none;
    margin-left: 0;
}*/
.search_filter_button:hover, .search_by_manufacturer_button:hover
{
    color: #ca2427;
}
.search_filter_button span, .search_by_manufacturer_button span
{   
    float: right;
    width: 12px;
    height: 5px;
    margin: 7px 0 0 22px;
    background:url(../Images/Icons/search_filter_button.png) no-repeat 0 -5px;
    /*-webkit-transition:background 0.25s ease-in-out;
    -moz-transition:background 0.25s ease-in-out;
    -o-transition:background 0.25s ease-in-out;
    transition:background 0.25s ease-in-out;*/
}
.search_filter_button:hover span, .search_by_manufacturer_button:hover span
{
    background-position: 0 0;
}
.search_filter_remove_button 
{
    float: left;
    height: 100%;
    padding: 11px 12px 0 2px;
    margin-left: 12px;
    cursor: pointer;
    color: #555555;
}
.search_filter_remove_button span
{
    float: left;
    width: 14px;
    height: 14px;
    margin: 2px 6px 0 0;
    background:url(../Images/Icons/search_filter_remove_button.png) no-repeat 0 0;
}
.sort_by_bg{
    float: right;
    height: 100%;
    text-transform: none;
    font-size: 13px;    
    /*text-Shadow: 0 0 1px rgba(182,16,20,0.38);*/
    border-left: 1px solid #eeeeee;
    padding: 11px 12px 0 16px;    
    cursor: pointer;
}
.sort_by_title {
    text-align: left;
    width: 138px;
    color: #555;
    margin-right: 12px;
    padding-right: 4px;
}
.sort_by_title span
{
    float: right;
    width: 10px;
    height: 5px;
    margin-top: 7px;
    background: url(../Images/Icons/sort_by.png) no-repeat right 0;
}
.sort_by_bg:hover .sort_by_title
{
    color: #b61013;
}
.sort_by_bg:hover .sort_by_title span
{
    background-position: right -5px;
}
.sort_by_item_bg {
    position: absolute;
    width: 158px;
    /*height: 68px;*/
    background: #fff;
    z-index:99;
	margin-top:10px;
	right:0px;	
	overflow:hidden; 
	/*padding: 10px 16px 10px 18px;*/
	border: 2px solid #b61014;
    /*border-bottom: 3px solid #b61014;*/
    display: none;
}
.sort_by 
{
    float: right;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding:0 15px;   
}
.sort_by:hover
{
    background: #111;
    color: #fff;
}
.search_filter_bg, .search_by_manufacturer_bg{
    /*height: 0;
    margin-top: -1px;*/
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    display: none;
    padding: 3px 10px 28px 10px;
}
/*.search_filter_bg.active 
{
    margin-top: 0;
    height: auto;
}*/
.search_filter_group {
    margin:6px 0 2px 0;
    line-height: 28px;
    font-size: 14px;
    padding: 5px 5px 0 5px;
}
.search_filter_group.two_col
{
    padding: 5px 10px 0 0;
}
.search_filter_group div 
{
    float: left;
    width: 100%;
}
.search_filter_group div.two_col {
    width: 50%;
}
.search_filter_group span {
    font-weight: bold;
    color: #b61013;
    /*text-transform: uppercase;*/
}
input[type=radio].radio_btn {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}
input[type=radio].radio_btn + label.radio_name {
	padding-left:22px;
	height:30px;
	display:inline-block;
	line-height:21px;
	/*background-repeat:no-repeat;
	background-position: 0 0;
	/*font-size:18px;*/
	/*vertical-align:middle;*/
	cursor:pointer;
	font-weight: normal;
}						
label.radio_name {
	background:url(../Images/Icons/radio_btn.png) no-repeat 0 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
label.radio_name:before
{
	background:url(../Images/Icons/radio_btn_checked.png) no-repeat 0 0;
}
input[type=radio].radio_btn:checked + label.radio_name 
{
	background:url(../Images/Icons/radio_btn_checked.png) no-repeat 0 0;
    color: #b61013;
}
.checkbox_title {
	height:30px;
	display:inline-block;
	line-height:20px;
}
input[type=checkbox].checkbox_btn {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}
input[type=checkbox].checkbox_btn + label.checkbox_name {
	padding-left:22px;
	height:30px;
	display:inline-block;
	line-height:21px;
	/*background-repeat:no-repeat;
	background-position: 0 0;
	/*font-size:18px;*/
	/*vertical-align:middle;*/
	cursor:pointer;
	font-weight: normal;
}						
label.checkbox_name {
	background:url(../Images/Icons/checkbox_btn.png) no-repeat 0 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
label.checkbox_name:before
{
	background:url(../Images/Icons/checkbox_btn_checked.png) no-repeat 0 0;
}
input[type=checkbox].checkbox_btn:checked + label.checkbox_name 
{
	background:url(../Images/Icons/checkbox_btn_checked.png) no-repeat 0 0;
    color: #b61013;
}
.close_search_filter_menu {
    position: absolute;
    bottom: 5px;
    right: 8px;
    color: #b61013;
    cursor: pointer;
    padding-left: 20px;
    background:url(../Images/Icons/close_btn.png) no-repeat 0 0;
}
.close_search_filter_menu:hover{
    color: #ca2427;
}
.close_search_filter_menu.remove_filter
{
    right: 68px;
    padding-left: 18px;    
    background:url(../Images/Icons/search_filter_remove_button.png) no-repeat 0 2px;
}
.close_search_filter_menu.remove_filter span
{
    float: right;
    height: 12px;
    width: 1px;
    background: #999;
    margin-left: 8px;
    margin-top: 2px;
}
.search_by_manufacturer_bg
{
    display: block;
    text-align: center;
    padding: 0px 0 6px 6px;
}
.manufacturer_img {
    display: inline-block;
    width: 70px;
    height: 34px;
    border: 1px solid #eee;
    margin: 6px 1px 0 1px;
    padding: 0;
    cursor: pointer;    
}
.manufacturer_img:hover, .manufacturer_img.active
{
    border: 1px solid #b61014;
}
.manufacturer_img img
{
    margin: 3px 2px 0 1px;
    width: 62px;
    height: auto;
}