@import url('Fonts/MyriadPro/font.css');
@import url('Fonts/MyriadSetPro/font.css');
/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0px none;
	margin: 0px auto;
	padding: 0px;
	outline: 0px none;
}
h1, h2, h3, h4, h5, h6 {	color: #fff; font-weight: bold;	text-shadow: 1px 1px 0px #000;}
h5{
	font-size: 14px; margin-bottom:8px;
}
a{
	color:#B61014;
	text-Shadow: 0 0 1px rgba(182,16,20,0.1);
	text-decoration:none;
    cursor: pointer;
}
a:hover{
	/*color:#930D10;*/
    color: #DD1318;
    text-Shadow: 0 0 1px rgba(221,19,24,0.2);
	text-decoration:none;
}
img[src='Error.src']{
    display: none;
}
body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}
html {
    font-size:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
	margin:0px auto;
	/*font: 13px/20px 'Myriad Set Pro', sans-serif;*/
    font: 14px/20px "Myriad Set Pro", Helvetica, sans-serif;
	color:#555;
    background: #fff;
	/*text-align:justify;*/
	-webkit-font-smoothing: subpixel-antialiased;
	-ms-font-smoothing: subpixel-antialiased;
	font-weight: 400;
}
.gray_bg {
    background: #f9f9f9;
}
.no_padding{
    padding: 0;
}
.align_center_panel{
	position:relative;
	margin:0 auto;
}
/*----------------------------------Header-------------------------------------------------------*/
.header_top_bg {
    position:relative;
	width:100%;
	height:56px;
	top:0;
	background:#111;
	z-index:100;
	font-family: 'Myriad Set Pro';
}
.header_logo{
	float:left;
	width:140px;
	height:44px;
	margin:6px 0;
	background: url(../Images/logo.png) no-repeat 0 0;	
}
.header_slogan {
    float:left;
    margin: 19px 8px 0 12px;
    color: #fff;
    font-size: 18px;    
    text-Shadow: 0 0 1px rgba(255,255,255,0.8);
    font-family: "myriad_proregular";
}
.header_slogan span 
{
    color: #B61014;
    text-Shadow: 0 0 1px rgba(182,16,20,1);
}
.header_top_menu {
    float: right;
}
.header_top_menu a
{
    float: right;
    margin-top: 18px;    
    padding-left: 22px;
    font-size: 14px;
    text-Shadow: 0 0 1px rgba(255,255,255,0.2);
    color: #eee;
    background-position: 0 1px;    
}
.header_top_menu a:hover
{
    color: #fff;
    text-Shadow: 0 0 5px rgba(255,255,255,0.6), 0 0 10px rgba(255,255,255,0.8);
    /*background-position: 0 16px;*/
}
.shopping_cart_btn {
    background: url(../Images/Icons/cart.png) no-repeat;
}
.cart_count {
    font-weight: normal;
}
.promotion_btn {    
    background: url(../Images/Icons/promotion.png) no-repeat;
}
.hotline_btn {
    background: url(../Images/Icons/hotline.png) no-repeat;
}
.split_line {
    float: right;
    height: 18px;
    width: 1px;
    background:  #555;
    margin: 18px 14px 0 14px;
}
.header_menu_bg {
    position:relative;
	width:100%;
	height:56px;
	background:#B61014;
	/*background:rgba(182,16,20,0.8);*/
	z-index:100;
    border-bottom: 3px solid #111;
}
.search_btn 
{
    position: relative;
    float: right;
    width: 56px;
    height: 56px;
    background: #111 url(../Images/Icons/search.png) no-repeat center;
    cursor: pointer;
}
.search_bg 
{
    position: relative;
    position: absolute;
    top: 56px;
    right: 0;
    width: 360px;
    height: 46px;
    background: #111;
    display: none;
}
.search_tf
{
    position: absolute;
    z-index: 100;
	float:left;
    margin: 6px 18px;
	width:310px;
    height: 30px;
    line-height: 30px;
	color:#fff;
    background: none;
	border:none;
	outline:none;
    font-size: 13px;
}
.search_bg span {
    position: absolute;
    z-index: 80;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: 0;    
    margin: 6px 18px;
    color: #aaa;
}
/*.hidden_tf 
{
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
}*/
/*.search_btn:hover{
	background-position: 0px -16px;	
}
.search_btn:active{
	background-position: 0px -32px;	
}*/
/*----------------------------------Body-------------------------------------------------------*/
.page_bg:after
{
    /*position: absolute;
    z-index: -10;*/
    content:".";
    display:block;
    clear:both;
    visibility:hidden; 
}
.page_title {
    float: left;
    font-size: 28px;
    text-transform: uppercase;    
    margin-top: 25px;
    /*margin-left: 230px;*/
    color:#B61013;
    text-Shadow: 0 0 1px rgba(182,16,20,0.3);
}
.page_title.spc
{
    margin-left: 0px !important;
}
.customer_btn_bg {
    float: right;
    margin-top: 20px; 
}
.customer_product_like_btn {
    width: 160px;
    background:url(../Images/customer_product_like_btn.png) no-repeat 0 0; 
}
.customer_compare_btn {
    width: 105px;
    background:url(../Images/customer_compare_btn.png) no-repeat 0 0; 
}
.customer_cart_btn {
    width: 110px;
    background:url(../Images/customer_cart_btn.png) no-repeat 0 0; 
}
.customer_btn_bg a{
    float: left;
    height: 28px;
    margin-left: 20px;
    cursor: pointer;
}
.customer_btn_bg a span
{
    float: right;
    margin-top: 5px;
    margin-right: 3px;
    text-align: center;
    width: 30px;
}
.customer_btn_bg a:hover{
    background-position: 0 -28px;
    color: #BE181C;
}
.customer_btn_bg a:active{
    background-position: 0 -56px;
    color: #A20000;
}
.page_link_bar {
    float: right;
    /*width: 750px;*/
    width: 100%;
    height: 30px;
    /*background:url(../Images/btn_bg.png) repeat-x 0 0;*/
	margin-top:21px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
    border: 1px solid #ddd;
}
.page_link_title {
    text-transform: uppercase;
    float: left;
    margin-left: 8px;
    margin-top: 2px;
    font-family: 'Myriad Set Pro';    
    font-size: 15px;
    /*color: #B61013;
    text-Shadow: 0 0 1px rgba(182,16,20,0.8);*/
    color: #555;
    text-Shadow: 0 0 1px rgba(51,51,51,0.2);
}
.page_link_title a ,.page_link_title label
{
    /*color: #B61013;
    text-Shadow: 0 0 1px rgba(182,16,20,0.15);*/
    color: #555;
    text-Shadow: 0 0 1px rgba(51,51,51,0.2);
    float: left;
    padding: 3px;
    padding-bottom: 1px;
}
.page_link_title a:hover
{
    color: #DD1318;
    text-Shadow: 0 0 1px rgba(221,19,24,0.2);
    /*background: #fff;*/
}
.page_link_title a:active
{
    color: #DD1318;
    text-Shadow: 0 0 1px rgba(221,19,24,0.2);
    /*background: #fff;*/
}
.page_link_title span {
    float: left;
    width: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-top: 2px;
}
.share_btn_bg {
    float: left;
    margin-right: 0px;
    margin-top: 4px;
}
.share_btn_bg a {
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
.facebook {
    background: url(../Images/Icons/facebook.png) no-repeat 0 0;
}
.twitter {
    background: url(../Images/Icons/twitter.png) no-repeat 0 0;
}
.google {
    background: url(../Images/Icons/google.png) no-repeat 0 0;
}
.email {
    background: url(../Images/Icons/email.png) no-repeat 0 0;
}
.share_btn_bg a:hover
{
    background-position: 0 -18px;
}
/*----------------------------------Footer-------------------------------------------------------*/
.footer_top_bg {
    height: 56px;
    background: #b61014;
    margin-top: 38px;
}
.footer_top_item {
    float: left;
    height: 56px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding-top: 16px;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(255,255,255,0.2);
    border-right: 1px solid #111;
}
.footer_top_item:last-child 
{
    border-right: none;
}
.footer_top_item:hover 
{
    color: #fff;   
    text-Shadow: 0 0 1px rgba(255,255,255,0.2), 0 0 6px rgba(255,255,255,0.6);
}
.footer_top_item:hover img 
{
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.footer_top_item img{
    display: inline-block;
    margin-top: -6px;
    margin-right: 10px;
     -webkit-transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
    transition:all 0.35s ease-in-out; 
}
.footer_center_bg {
    background: #fff;
    margin-bottom: 0;        
}
.footer_center_item 
{
    float: left;
    height: auto;
    /*margin: 25px 16px 28px 20px;*/
    border-right: 1px solid #111;
}
.footer_center_item:last-child 
{
    border-right: none;
}
.footer_info_item_title{
	float:left;
	width:100%;
	height:24px;
	font-size:16px;
	color:#B61013;
	font-family: "myriad_proregular" !important; 
	text-Shadow: 0 0 1px rgba(182,16,20,0.3);
	text-transform:uppercase;
    margin-left: 5px;	
    margin-top: 26px;
}
.google_map {
    float: left;
}
.google_map:hover
{
    border-bottom: none !important;
}
.google_map:hover .location_icon
{
    background-position: 0 0;
}
.location_name 
{
    float: left;
}
.contact_comp_name .location_name {
    margin-top: -4px;
}
.google_map .location_icon {
    float: left;
    margin: 0 0 0 8px;
    width: 18px;
    height: 18px;
    border: 2px solid #b61014;
    
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background:url(../Images/Icons/location.png) no-repeat 0 -16px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out; 
}
.facebook_page {
    float: left;
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
    border: 2px solid #4A6EA9;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
     -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out; 
    background: url(../Images/Icons/facebook.png) no-repeat 0 -16px;
}
.facebook_page:hover
{
    background-position: 0 0;
    border-bottom: none !important;
}
.footer_center_item span{
	float:left;
	margin-top:5px;
	margin-left: 5px;
	width:100%;
    font-size: 14px;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(51,51,51,0.2);
}
.footer_center_item span:last-child
{
    margin-bottom: 28px;
}
.footer_center_item a {
    text-Shadow: 0 0 1px rgba(182,16,20,0.1);
}
.footer_center_item a:hover {
    border-bottom:   1px dotted #DD1318;
}
.footer_bottom_bg {
    background: #111;
    height: 38px;
    margin: 0;
}
.footer_menu_bg{
	float:left;
	margin-top:12px;	
}
.footer_menu_bg a
{
    float: left;
    /*text-transform: uppercase;*/
    color:#fff;
    font-size: 14px;
    font-family: 'Myriad Set Pro';
    text-Shadow: 0 0 1px rgba(255,255,255,0.5);
    font-weight: 500;
    height: 19px;
}
.footer_menu_bg span
{
    float: left;
    width: 1px;
    background: #666;
    height: 10px;
    margin: 4px 8px 0 8px;
}
.footer_menu_bg a:hover
{
    border-bottom: 1px dotted #fff;
}
.copy_right{
	float:right;
	color:#bbb;
	font-size:11px;
	margin-top:11px;
    text-align: right;
    font-family: 'Myriad Set Pro';
}
.copy_right a
{
    color: #111;
}
.copy_right span
{
    color:#fff;
}
.to_top_btn{
	position:fixed;
	width:32px;
	height:32px;
	right:28px;
	bottom:20px;
	background:url(../Images/to_top_btn.png) no-repeat;	
	display:none;
	-webkit-transition:background 0.25s ease-in-out;
    -moz-transition:background 0.25s ease-in-out;
    -o-transition:background 0.25s ease-in-out;
    transition:background 0.25s ease-in-out;
    border: 1px solid #b61014;
    z-index: 50;
}
.to_top_btn:hover{
	background-position:0px -32px;
}
/*==========================================News Page======================================================*/
/*.news_item_content_bg{
	float:left;
	width:100%;
	margin-top:10px;
}
.news_item_title{
	font-family: 'Myriad Set Pro';
	font-size:15px;
	margin-bottom:10px;
	margin-top:4px;
	/*padding-left:15px;
	background:url(../Images/Bullets/disc-teal.png) no-repeat left;!1!
}
.news_item_content_img_border{
	width:335px;
    height: 140px;
	float:left;		
	margin-top:0px;
	margin-right:15px;
	margin-bottom:4px;
	border:3px solid #ddd;
	padding:10px;
}
.news_item_content_img_border img
{
    width:335px;
    height: 140px;
}
.readmore_btn{
	font-size:11px;
	font-style:italic;
	background:url(../Images/Bullets/readmore_btn.png) right no-repeat;
	padding-right:14px;
	margin-top:10px;
	float:right;
}
.readmore_btn:hover{
	text-decoration:underline;	
}
.news_item_bottom_hr{
	float:left;
	height:2px;
	width:100%;
	/*background:url(../Images/news_item_bottom_hr.png) no-repeat center top;!1!
	margin-top:25px;
	margin-bottom:0px;
	border-bottom:1px dotted #B61013;
	margin-top:15px;
	margin-bottom:12px;
}*/
/*--------------------------------- Progress Bar -------------------------------*/
.loading_bar {
    position: fixed;
    top: 26%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 76px;
    height: 76px;
    z-index: 99999;
    display: none;
}
.ball_01 
{
    position: absolute;
    background-color: #fff;
    border: 3px solid #fff;
    opacity: .9;
    border-top: 3px solid #b61014;
    border-bottom: 3px solid #b61014;
    border-radius: 26px;
    /*box-shadow: 0 0 35px #fff;*/
    width: 46px;
    height: 46px;
    margin:15px;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;    
    
}
.ball_02 
{
    position: absolute;
    background-color: #fff;
    border: 3px solid #fff;
    opacity: .9;
    border-top: 3px solid #111;
    border-bottom: 3px solid #111;
    border-radius: 26px;
    /*box-shadow: 0 0 15px #fff;*/
    width: 26px;
    height: 26px;
    margin: 25px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}